<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>This is a super secret webpage</h1>
  {{if .}}
  <h2>Welcome to the Clubhouse</h2>
  <h2>You entered the right password</h2>
    {{.user}}
    {{.secret.email}}
    {{.secret.phone}}
  {{end}}
</body>
</html>